/*
 上传错误模态框类:
  背景颜色为#2C2C2C; 20px圆角边框; 字体大小为16px; 字体粗细为bold;
  相对于容器向右偏移50%; 没有轮廓; 内边距30px; 使用绝对定位方式;
  相对于容器向下偏移85%; x和y轴均平移-50%.
*/
.uploader-modal {
    background-color: #2C2C2C;
    border-radius: 20px;
    font-size: 16px;
    font-weight: bold;
    left: 50%;
    outline: 0;
    padding: 30px;
    position: absolute;
    top: 85%;
    transform: translate(-50%, -50%);
}

/*
 上传错误模态框内的消息:
  设置点下划线; 文本装饰线的颜色为#FF554C; 文本装饰线的厚度为2px.
*/
.uploader-modal > .message {
    text-decoration: dotted underline;
    text-decoration-color: #FF554C;
    text-decoration-thickness: 2px;
}

/*
 上传错误模态框内的关闭按钮:
  背景颜色为完全透明; 无边框; 文本颜色为#555555; 手形光标;
  字体大小为20px; 使用绝对定位方式; 相对于容器向左偏移3px;
  相对于容器向下偏移3px.
*/
.uploader-modal > .close-button {
    background-color: transparent;
    border: 0;
    color: #555555;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 3px;
    top: 3px;
}
