/*
 用户头像背景颜色为#E5E7EB; 以cover方式缩放;
 使用2px, 实线, 颜色为#E5E7EB的边框;
 边框为圆形; 内容高宽均为100px; 外边距为3px.
 */
.avatar {
    background-color: #E5E7EB;
    background-size: cover;
    border: 2px solid #E5E7EB;
    border-radius: 50%;
    height: 100px;
    margin: 3px;
    width: 100px;
}

/* 隐藏avatar-input中原生的file-input表单. */
.avatar-input > input[type="file"] {
    display: none;
}

/*
 avatar-input中自定义的表单使用弹性布局;
 垂直和水平方向居中排列; 使背景颜色为rgba(249, 249, 249, 0.1);
 边框为圆形; 手形光标; 使用40px, Helvetica(无衬线)字体;
 内容高宽均为100px; 外边距为5px.
 */
.avatar-input > .custom-file-input {
    align-items: center;
    background-color: rgba(249, 249, 249, 0.1);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    font: 40px Helvetica, sans-serif;
    height: 100px;
    justify-content: center;
    margin: 5px;
    width: 100px;
}
