/* 处理基本元素样式. */
html {
    /* 文本颜色值. */
    color: #E5E7EB;
}

/* 处理ChatRoom组件. */
.chat-room {
    /* 内容高度. */
    height: 100dvh;
    /* 左外边距. */
    margin-left: 5px;
    /* 定位方式. */
    position: relative;
    /* 内容宽度. */
    width: 30%;
}

/* 设置屏幕处于纵向时的样式. */
@media (orientation: portrait) {
    /* 处理ChatRoom组件. */
    .chat-room {
        /* TODO(Steve): 内容高度: calc(100dvh - 播放器(假设16:9)的高度). */
        height: calc(100dvh - 100dvw * 9/16);
        /* 内容宽度. */
        width: 100%;
    }
}

/* 处理chat-form表单元素. */
.chat-form {
    /* 与下边界之间的偏移量. */
    bottom: 0;
    /* 外边距. */
    margin: 0 10px 25px 0;
    /* 定位方式. */
    position: absolute;
    /* 内容宽度. */
    width: 100%;
}

/* 处理chat-input表单输入元素. */
.chat-input {
    /* 背景颜色. */
    background-color: rgba(249, 249, 249, 0.1);
    /* 边框. */
    border: none;
    /* 边框圆角. */
    border-radius: 8px;
    /* 文本颜色值. */
    color: #E5E7EB;
    /* 字体速记属性: 字体大小 字体(无衬线) */
    font: 15px Helvetica, sans-serif;
    /* 内容高度. */
    height: 35px;
    /* 右外边距. */
    margin-right: 5px;
    /* 轮廓. */
    outline: none;
    /* 内边距. */
    padding: 1px;
    /* 首行文本缩进量. */
    text-indent: 5px;
    /* 内容宽度: calc(100% - 按钮宽度). */
    width: calc(100% - 117px);
}

/* 处理send-button按钮元素. */
.send-button {
    /* 背景颜色. */
    background-color: rgba(0, 0, 0, 0);
    /* 背景图像. */
    background-image: linear-gradient(93.87deg, #095AE6, #062794);
    /* 边框. */
    border: none;
    /* 边框圆角. */
    border-radius: 8px;
    /* 文本颜色值. */
    color: #E5E7EB;
    /* 字体速记属性: 字体粗细 字体大小 字体(无衬线) */
    font: bold 15px Helvetica, sans-serif;
    /* 内容高度. */
    height: 35px;
    /* 文本字符间距. */
    letter-spacing: 5px;
    /* 内边距. */
    padding: 1px;
    /* 外边距速记属性: 上下 左右. */
    margin: 0 5px;
    /* 内容宽度. */
    width: 100px;
}

/* 处理send-button按钮元素被禁用时的样式. */
.send-button[disabled] {
    /* 光标. */
    cursor: not-allowed;
    /* 滤镜: 使用30%灰度. */
    filter: grayscale(30%);
}
