/* 处理基本元素样式, 使文本颜色为#E5E7EB. */
html {
    color: #E5E7EB;
}

/*
 ChatRoom组件的背景增加110%亮度滤镜;
 内容高宽分别为100动态视口高度和30%;
 左外边距为5px; 使用相对定位方式.
 */
.chat-room {
    backdrop-filter: brightness(110%);
    height: 100dvh;
    margin-left: 5px;
    position: relative;
    width: 30%;
}

/*
 设置屏幕处于纵向时的样式:
 ChatRoom组件的内容高度为calc(100dvh - 100dvw * 9/16);
 内容宽度为100%.
 */
@media (orientation: portrait) {
    .chat-room {
        /* TODO(Steve): 内容高度: calc(100dvh - 播放器(假设16:9)的高度). */
        height: calc(100dvh - 100dvw * 9/16);
        width: 100%;
    }
}

/*
 chat-form表单元素与下边界之间的偏移量为0;
 外边距分别为0 10px 25px 3px; 使用绝对定位方式;
 内容宽度为100%.
 */
.chat-form {
    bottom: 0;
    margin: 0 10px 25px 3px;
    position: absolute;
    width: 100%;
}

/*
 chat-input表单背景颜色为rgba(249, 249, 249, 0.1);
 无样式8px圆角边框; 使用替代(IE)盒模型(即边框和内边距包含在宽度内);
 文本颜色值为#E5E7EB; 使用15px, 优先使用Helvetica字体;
 内容高宽分别是35px, calc(100% - 按钮宽度);
 右外边距为2px; 没有轮廓; 内边距为1px; 首行文本缩进为5px.
 */
.chat-input {
    background-color: rgba(249, 249, 249, 0.1);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #E5E7EB;
    font: 15px Helvetica, Arial, sans-serif;
    height: 35px;
    margin-right: 2px;
    outline: 0;
    padding: 1px;
    text-indent: 5px;
    width: calc(100% - 117px);
}

/*
 send-button按钮背景颜色为rgba(0, 0, 0, 0);
 背景图像为linear-gradient(93.87deg, #095AE6, #062794);
 无样式5px圆角边框; 文本颜色值为#E5E7EB;
 使用bold, 15px, 优先使用Helvetica字体;
 内容高宽分别是35px, 100px; 文本字符间距为5px; 内边距为1px;
 上下外边距为0, 左右外边距为5px.
 */
.send-button {
    background-color: rgba(0, 0, 0, 0);
    background-image: linear-gradient(93.87deg, #095AE6, #062794);
    border: 0;
    border-radius: 8px;
    color: #E5E7EB;
    font: bold 15px Helvetica, Arial, sans-serif;
    height: 35px;
    letter-spacing: 5px;
    padding: 1px;
    margin: 0 5px;
    width: 100px;
}

/* send-button按钮被禁用时: 光标为不能执行; 使用30%灰度的滤镜. */
.send-button[disabled] {
    cursor: not-allowed;
    filter: grayscale(30%);
}
