/* 处理基本元素样式, 使背景颜色为#1A1D29. */
html {
    background-color: #1A1D29;
}

/*
 使一级标题文本颜色值为#F9F9F9;
 使用border, 24px, Helvetica(无衬线)的字体; 外边距为10px.
 */
h1 {
    color: #F9F9F9;
    font: bolder 24px Helvetica, sans-serif;
    margin: 10px;
}

/*
 login类使用弹性布局; 垂直方向居中排列;
 内部元素按照垂直方向排列.
 */
.login {
    align-items: center;
    display: flex;
    flex-direction: column;
}

/*
 login-input, stream-input和.websocket-input表单
 背景颜色为rgba(249, 249, 249, 0.1);
 使用替代(IE)盒模型(即边框和内边距包含在宽度内);
 无样式5px圆角边框; 文本颜色值为#F9F9F9;
 使用15px, Helvetica(无衬线)的字体;
 内容高宽分别是50px, 350px; 外边距为10px, 首行文本缩进为5px.
 */
.login-input, .stream-input, .websocket-input {
    background-color: rgba(249, 249, 249, 0.1);
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    color: #F9F9F9;
    font: 15px Helvetica, sans-serif;
    height: 50px;
    margin: 10px;
    text-indent: 5px;
    width: 350px;
}

/*
 login-input, stream-input和.websocket-input表单
 获得焦点时: 一个宽度为1px, 实线的, 颜色为#F9F9F933的边框; 没有轮廓.
 */
.login-input:focus, .stream-input:focus, .websocket-input:focus {
    border: 1px solid #F9F9F933;
    outline: none;
}

/*
 login-input和stream-input表单输入错误时:
 一个宽度为1px, 实线的, 颜色为#FF554C的边框; 没有轮廓.
 */
.login-input.error, .stream-input.error {
    border: 1px solid #FF554C;
    outline: none;
}

/*
 登录和流媒体错误信息文本颜色值为#FF554C;
 使用12px, Helvetica(无衬线)的字体; 左外边距为10px.
 */
.login-error-message, .stream-error-message {
    color: #FF554C;
    font: 12px Helvetica, sans-serif;
    margin-left: 10px;
}

/*
 login-button按钮背景颜色为#0682F0; 无样式5px圆角边框;
 文本颜色值为#F9F9F9; 使用bold, 18px, Helvetica(无衬线)的字体;
 内容高宽分别是50px, 350px; 文本字符间距为5px; 外边距为10px.
 */
.login-button {
    background-color: #0682F0;
    border: none;
    border-radius: 5px;
    color: #F9F9F9;
    font: bold 18px Helvetica, sans-serif;
    height: 50px;
    letter-spacing: 5px;
    margin: 10px;
    width: 350px;
}

/* 用户悬停login-button按钮时: 使用110%亮度的滤镜. */
.login-button:hover {
    filter: brightness(110%);
}
