/*
 message-list类的内容高度为calc(当前组件 - 95px);
 不显示列表项的标记; 使用16px, 优先使用Helvetica字体;
 内边距为1px; 设置auto的元素溢出行为.
 */
.message-list {
    height: calc(100% - 95px);
    list-style-type: none;
    font: 16px Helvetica, Arial, sans-serif;
    padding: 1px;
    overflow: auto;
}

/* 用户头像的内容高宽均为50px. */
.message-list .avatar {
    height: 50px;
    width: 50px;
}

/*
 当前用户发送的消息my-message使用弹性布局;
 垂直方向居中排列; 沿容器的右侧放置; 外边距为0 3px 8px 0.
 */
.my-message {
    align-items: center;
    display: flex;
    justify-content: right;
    margin: 0 3px 8px 0;
}

/*
 当前用户发送的内容content背景颜色为#29B560;
 边框为圆形; 文本颜色值为黑色; 外边距为8px;
 内容最大宽度为父容器的60%; 内边距为8px; 使用相对定位方式.
 */
.my-message > .content {
    background-color: #29B560;
    border-radius: 8px;
    color: black;
    margin: 8px;
    max-width: 60%; /* 超过最大宽度即自动换行. */
    padding: 8px;
    position: relative;
}

/*
 当前用户发送的内容content上的箭头:
 使用5px, 实线, 透明的边框; 左边框颜色为#29B560;
 伪元素中无内容; 相对于容器向右偏移100%;
 使用绝对定位方式; 相对于容器向下偏移25%;
 */
.my-message > .content::after {
    border: 5px solid transparent; /* 颜色设置为完全透明. */
    border-left-color: #29B560;
    content: "";
    left: 100%;
    position: absolute;
    top: 25%;
}

/* 其他用户发送的消息other-message使用弹性布局; 外边距为8px 0 0 3px. */
.other-message {
    display: flex;
    margin: 8px 0 0 3px;
}

/* 其他用户昵称和发送的内容容器使用弹性布局; 内部元素按照垂直方向排列. */
.other-message > .name-content-container {
    display: flex;
    flex-direction: column;
}

/* 其他用户昵称name使用13px, 优先使用Helvetica字体; 左外边距为8px. */
.other-message .name {
    font: 13px Helvetica, Arial, sans-serif;
    margin-left: 8px;
}

/*
 其他用户发送的内容content背景颜色为#2C2C2C;
 边框为圆形; 外边距为1px 8px 8px 8px;
 内容最大宽度为父容器的60%; 内边距为8px; 使用相对定位方式.
 */
.other-message .content {
    background-color: #2C2C2C;
    border-radius: 8px;
    margin: 1px 8px 8px 8px;
    max-width: 60%; /* 超过最大宽度即自动换行. */
    padding: 8px;
    position: relative;
}

/*
 其他用户发送的内容content上的箭头:
 使用5px, 实线, 透明的边框; 右边框颜色为#2C2C2C;
 伪元素中无内容; 使用绝对定位方式;
 相对于容器向左偏移100%; 相对于容器向下偏移25%;
 */
.other-message .content::before {
    border: 5px solid transparent; /* 颜色设置为完全透明. */
    border-right-color: #2C2C2C;
    content: "";
    position: absolute;
    right: 100%;
    top: 25%;
}
