/* 用于禁用原始半透明背景样式. */
.ReactModal__Overlay--after-open {
    /* 背景颜色. */
    background-color: transparent !important;
}

/* 处理VideoPlayerModal组件. */
.video-player-modal {
    /* 背景颜色. */
    background-color: rgba(44, 44, 44, 80%);
    /* 边框圆角. */
    border-radius: 8px;
    /* 字体速记属性: 字体大小 字体(无衬线) */
    font: 12px Helvetica, sans-serif;
    /* 相对于容器向右偏移量. TODO(Steve): 50%不是正中间, 使用视口宽度也不行. */
    left: 42%;
    /* 内边距. */
    padding: 12px;
    /* 定位方式. */
    position: absolute;
    /* 相对于容器向下偏移量. */
    top: 40%;
}
