/* VideoPlayer组件的右外边距为5px, 内容宽度为70%. */
.video-player {
    margin-right: 5px;
    width: 70%;
}

/*
 设置屏幕处于纵向时的样式: 内容宽度为100%.
 */
@media (orientation: portrait) {
    .video-player {
        width: 100%;
    }
}

/*
 VideoPlayer组件的大播放按钮背景图像为
 linear-gradient(93.87deg, #095AE6, #062794);
 无样式50%圆角边框; 优先使用Helvetica字体;
 内容高宽均是75px.
 */
.video-player .vjs-big-play-button {
    background-image: linear-gradient(93.87deg, #095AE6, #062794);
    border: 0;
    border-radius: 50%;
    font-family: Helvetica, Arial, sans-serif;
    height: 75px;
    width: 75px;
}

/* 用于禁用VideoPlayer组件的大播放按钮的原始特效. */
.video-player:hover .vjs-big-play-button,
.video-player .vjs-big-play-button:focus {
    background-color: inherit;
}

/*
 VideoPlayer组件的大播放按钮上的三角:
 背景图像为url("../assets/big-play-button.png");
 居中背景图像位置; 背景图像不重复; 背景图片大小为40px;
 伪元素中无内容; 使用绝对定位方式.
 */
.video-player .vjs-big-play-button > .vjs-icon-placeholder:before {
    background-image: url("../assets/big-play-button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    content: '';
    position: absolute;
}

/*
 VideoPlayer组件的控制栏背景图像为
 linear-gradient(to right, #095AE6 15%, #062794);
 18px圆角边框; 文本颜色值为#F9F9F9; 优先使用Helvetica字体;
 内容高宽分别为40px和80%; 相对于容器向右偏移50%;
 底外边距为2%; 横坐标平移-50%.
 */
.video-player .vjs-control-bar {
    background-image: linear-gradient(to right, #095AE6 15%, #062794);
    border-radius: 18px;
    color: #F9F9F9;
    font-family: Helvetica, Arial, sans-serif;
    height: 40px;
    left: 50%;
    margin-bottom: 2%; /* iOS设备全屏时屏幕指示器(Home Indicator)会有遮挡. */
    transform: translate(-50%);
    width: 80%;
}

/*
 VideoPlayer组件控制栏上的按钮, 音量控制条和剩余时间
 优先使用Helvetica字体; 相对于容器向下偏移15%; 元素放大到115%.
 */
.video-player .vjs-control-bar .vjs-button,
.video-player .vjs-control-bar .vjs-volume-control,
.video-player .vjs-control-bar .vjs-remaining-time {
    font-family: Helvetica, Arial, sans-serif;
    top: 15%;
    transform: scale(115%);
}

/*
 VideoPlayer组件控制栏上的进度条和倍速按钮背景图像为rgba(6, 39, 148, 35%);
 文本颜色值为#F9F9F9; 优先使用Helvetica字体.
 */
.video-player .vjs-control-bar .vjs-load-progress,
.video-player .vjs-control-bar .vjs-menu-item {
    background-color: rgba(6, 39, 148, 35%);
    color: #F9F9F9;
    font-family: Helvetica, Arial, sans-serif;
}
