/*
 VideoPlayerModal组件的背景颜色为rgba(44, 44, 44, 80%);
 8px圆角边框; 使用12px, 优先使用Helvetica字体;
 相对于容器向右偏移42%; 内边距为12px;
 使用绝对定位方式; 相对于容器向下偏移40%.
 */
.video-player-modal {
    background-color: rgba(44, 44, 44, 80%);
    border-radius: 8px;
    font: 12px Helvetica, Arial, sans-serif;
    left: 42%; /* TODO(Steve): 50%不是正中间, 使用视口宽度也不行. */
    padding: 12px;
    position: absolute;
    top: 40%;
}
