/*
 聊天室类:
  自定义属性--chat-form-height为35px;
  内容高度为calc(100% - var(--online-friends-height) - 2 * var(--online-friends-padding) - var(--friends-list-height)).
 */
.chat-room {
    --chat-form-height: 35px;

    height: calc(100% - var(--online-friends-height) - 2 * var(--online-friends-padding) - var(--friends-list-height));
}

/*
 聊天室表单类:
  自定义属性--button-element-margin为var(--body-margin);
  自定义属性--button-element-width为100px;
  内容高度为var(--chat-form-height).
 */
.chat-form {
    --button-element-margin: var(--body-margin);
    --button-element-width: 100px;

    height: var(--chat-form-height);
}

/*
 聊天室输入表单:
  背景颜色为rgb(249 249 249 / 10%); 无样式8px圆角边框;
  使用替代盒模型; 文本颜色为#E5E7EB; 优先使用Helvetica字体;
  字体大小为15px; 内容高度继承父元素; 没有轮廓; 首行文本缩进为5px;
  内容宽度为calc(100% - var(--button-element-margin) - var(--button-element-width));
 */
.chat-input {
    background-color: rgb(249 249 249 / 10%);
    border: 0;
    border-radius: 8px;
    box-sizing: border-box;
    color: #E5E7EB;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    height: inherit;
    outline: 0;
    text-indent: 5px;
    width: calc(100% - var(--button-element-margin) - var(--button-element-width));
}

/*
 发送按钮类:
  背景颜色为完全透明; 背景图像为线性渐变linear-gradient(93.87deg, #095AE6, #062794);
  无样式8px圆角边框; 文本颜色为#E5E7EB; 优先使用Helvetica字体;
  字体大小为15px; 字体粗细为bold; 内容高度继承父元素; 文本字符间距为5px;
  左外边距为var(--button-element-margin); 内边距1px; 首行文本缩进为5px;
  内容内容宽度为var(--button-element-width).
 */
.send-button {
    background-color: transparent;
    background-image: linear-gradient(93.87deg, #095AE6, #062794);
    border: 0;
    border-radius: 8px;
    color: #E5E7EB;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 15px;
    font-weight: bold;
    height: inherit;
    letter-spacing: 5px;
    margin-left: var(--button-element-margin);
    padding: 1px;
    text-indent: 5px;
    width: var(--button-element-width);
}

/*
 禁用发送按钮类:
  不能执行光标; 使用30%灰度的滤镜.
 */
.send-button[disabled] {
    cursor: not-allowed;
    filter: grayscale(30%);
}
